<mat-toolbar color="primary" class="main-toolbar mat-elevation-z3">
    <span><button fxHide.lg="true" fxHide.md="true" mat-icon-button (click)="toggle()">
     <mat-icon aria-label="Open side bar">menu</mat-icon>
  </button>
  Invoice Tanpay</span>
  <span fxFlex="grow"></span>
  <!-- button matTooltip="Logout" mat-icon-button><mat-icon>power_settings_new</mat-icon></button -->
  <button matTooltip="Configuration" mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>
    <mat-icon> person_outline</mat-icon>
    <span> Profile </span>
  </button>
  <button mat-menu-item>
    <mat-icon> settings</mat-icon>
    <span> Configuration </span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logOut()">
    <mat-icon> exit_to_app</mat-icon>
    <span> Logout </span>
  </button>
</mat-menu>

<mat-sidenav-container class="" fxLayout="row wrap" fullscreen>
  <app-left-menu></app-left-menu>

  <div class="main-content" fxFlex>

    <div class="content-body" fxLayout="row wrap" fxLayout.xs="column" >
      <div fxFlex="15% "></div>
      <div fxFlex="85% ">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
</mat-sidenav-container>

<footer class="mat-typography">
  <span class="mat-caption">Copyright &copy;</span>
</footer>
