<div class="button-div">
  <p @fadeIn *ngIf="showConfirm" class="text-right">
      {{ confirmText }}
      <button mat-mini-fab style="color: white; background-color: red; border-radius: 50%!important;" @fadeIn (click)="showConfirm = false">
        <mat-icon>clear</mat-icon>
      </button> &nbsp;
      <button mat-mini-fab style="color: white; background-color: green; border-radius: 50%!important;" @fadeIn (click)="onSave(false)">
        <mat-icon>done</mat-icon>
      </button>
    </p>
  <button
    @fadeIn
    *ngIf="!showConfirm"
    class="pull-right"
    [disabled]="saveDisabled"
    mat-raised-button color="primary"
    (click)="onSave(true)">
    <mat-icon>{{saveIcon}}</mat-icon> {{ saveText }}
  </button>
  <button
    @fadeIn
    *ngIf="!showConfirm"
    class="pull-right"
    mat-button color="warn"
    (click)="onClose()">
    <mat-icon>close</mat-icon> {{ cancelText }}
  </button>
  <!--<p class="text-right">Your About Save Data, Confirm</p>-->
</div>
