<div class="table-cover">
  <div class="top-area">
    <div class="search-area">
      <mat-form-field *ngIf="tableConfigurations.showSearch">
        <mat-label>
          <mat-icon>search</mat-icon>
          Search
        </mat-label>
        <!--<input matInput [(ngModel)]="searchQuery" placeholder="Search">-->
        <input autocomplete="off" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <div class="excel-button">
      <button mat-raised-button (click)="downloadToCsv()" *ngIf="!tableConfigurations.hideExport">
        <i style="margin-bottom: 5px; color: green" class="fa fa-file-excel-o"></i>
        Export
      </button>
    </div>
  </div>

  <app-loader @fadeIn *ngIf="loading"
                  message="{{ loadingMessage || 'Getting Data Please Wait...' }}"></app-loader>

  <table
    [ngClass]="{'table-bordered': tableConfigurations.showBorder}"
    mat-table
    [trackBy]="trackByFn"
    [dataSource]="dataSource"
    matSort class="mat-elevation-z2"
    *ngIf="tableList.length != 0; else noData"
  >
    <!-- Number Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No</th>
      <td mat-cell *matCellDef="let element;let i = index;"> {{ i + 1 }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container *ngFor="let column of tableConfigurations.tableColumns" matColumnDef="{{ column.name }}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.label }}</th>
      <td mat-cell *matCellDef="let element"> {{element[column?.name] | formatNumber:column?.label }}</td>
    </ng-container>

    <!--Action Icons-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let tableListItem">
        <div class="float-right" role="group" aria-label="Basic example"
             *ngIf="tableConfigurations.actionIcons.edit || tableConfigurations.actionIcons.print || tableConfigurations.actionIcons.delete || tableConfigurations.actionIcons.more || tableConfigurations.actionIcons.cancel || tableConfigurations.actionIcons.download">
          <a @fadeIn class="cursor text-primary action-button mr-1 btn-float" title="print"
             (click)="printItem(tableListItem?.id)"
             style="border-radius: 50%"
             *ngIf="tableConfigurations?.actionIcons?.print && !showDelete[tableListItem?.id]">
            <i class="fa fa-print"></i>
          </a>
          <a @fadeIn class="btn btn-sm btn-light action-button mr-1 btn-float" title="view details"
             (click)="viewItemDetails(tableListItem?.id)"
             style="border-radius: 50%"
             *ngIf="tableConfigurations?.actionIcons?.more && !showDelete[tableListItem?.id]">
            <i class="fa fa-list"></i>
          </a>
          <a @fadeIn class="btn btn-sm btn-light action-button mr-1 btn-float" title="edit"
             (click)="editItem(tableListItem?.id)"
             style="border-radius: 50%"
             *ngIf="tableConfigurations?.actionIcons?.edit && !showDelete[tableListItem?.id]">
            <i class="fa fa-pencil"></i>
          </a>
          <a @fadeIn class="btn btn-sm btn-light action-button mr-1 btn-float" title="Download"
             (click)="downloadItem(tableListItem)"
             style="border-radius: 50%"
             *ngIf="tableConfigurations?.actionIcons?.download && !showDownload[tableListItem?.id]">
            <i class="fa fa-cloud-download"></i>
          </a>

          <a @fadeIn class="btn btn-sm btn-danger action-button  btn-float"
             (click)="showDelete[tableListItem?.id] = true"
             style="border-radius: 50%"
             title="delete" *ngIf="tableConfigurations?.actionIcons?.delete && !showDelete[tableListItem?.id]">
            <i class="fa fa-trash-o"></i>
          </a>
          <button @fadeIn mat-flat-button (click)="showDelete[tableListItem?.id] = true"
                  title="Cancel" *ngIf="tableConfigurations?.actionIcons?.cancel && !showDelete[tableListItem?.id]">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>

          <!--delete confirmation-->
          <p @fadeIn *ngIf="showDelete[tableListItem?.id] && !tableConfigurations.deleting[tableListItem?.id]">Are You
            sure?</p>
          <p @fadeIn *ngIf="showDelete[tableListItem?.id] && tableConfigurations.deleting[tableListItem?.id]">
            <span *ngIf="tableConfigurations?.actionIcons?.cancel">Canceling</span>
            <span *ngIf="tableConfigurations?.actionIcons?.delete">Deleting</span>
          </p>
          <p @fadeIn *ngIf="showDelete[tableListItem?.id]">
            <mat-progress-bar mode="indeterminate" @fadeIn
                              *ngIf="tableConfigurations.deleting[tableListItem?.id]"></mat-progress-bar>
            <button mat-mini-fab style="color: white; background-color: red; border-radius: 50%!important;" @fadeIn
                    *ngIf="!tableConfigurations.deleting[tableListItem?.id]"
                    (click)="showDelete = {}">
              <mat-icon>clear</mat-icon>
            </button>
            <button mat-mini-fab style="color: white; background-color: green; border-radius: 50%!important;" @fadeIn
                    *ngIf="!tableConfigurations.deleting[tableListItem?.id]"
                    (click)="deleteItem(tableListItem?.id)">
              <mat-icon>done</mat-icon>
            </button>
          </p>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"
        style='background-color: rgba(0, 0, 0, 0.1); opacity: 0.8;'></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="routeAnimationsElements"
        class="card-1"></tr>
  </table>

  <!--Pagination-->
  <mat-paginator
    [ngClass]="{'hidden': !tableConfigurations.allowPagination}"
    [pageSizeOptions]="[10, 20, 25, 50, 100]">
  </mat-paginator>


  <ng-template #noData>
    <table *ngIf="!loading" [ngClass]="{'table-bordered': tableConfigurations.showBorder}" mat-table
           [trackBy]="trackByFn" [dataSource]="dataSource" matSort class="mat-elevation-z2">

      <!-- Number Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No</th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{ i + 1 }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container *ngFor="let column of tableConfigurations.tableColumns" matColumnDef="{{ column.name }}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.label }}</th>
        <td mat-cell *matCellDef="let element"> {{element[column?.name] | formatNumber:column?.label }}</td>
      </ng-container>

      <!--Action Icons-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let tableListItem">
          <div class="float-right" role="group" aria-label="Basic example"
               *ngIf="tableConfigurations.actionIcons.edit || tableConfigurations.actionIcons.print || tableConfigurations.actionIcons.delete || tableConfigurations.actionIcons.more || tableConfigurations.actionIcons.cancel">
            <a @fadeIn class="cursor text-primary action-button mr-1 btn-float" title="print"
               (click)="printItem(tableListItem?.id)"
               style="border-radius: 50%"
               *ngIf="tableConfigurations?.actionIcons?.print && !showDelete[tableListItem?.id]">
              <i class="fa fa-print"></i>
            </a>
            <a @fadeIn class="btn btn-sm btn-light action-button mr-1 btn-float" title="view details"
               (click)="viewItemDetails(tableListItem?.id)"
               style="border-radius: 50%"
               *ngIf="tableConfigurations?.actionIcons?.more && !showDelete[tableListItem?.id]">
              <i class="fa fa-list"></i>
            </a>
            <a @fadeIn class="btn btn-sm btn-light action-button mr-1 btn-float" title="edit"
               (click)="editItem(tableListItem?.id)"
               style="border-radius: 50%"
               *ngIf="tableConfigurations?.actionIcons?.edit && !showDelete[tableListItem?.id]">
              <i class="fa fa-pencil"></i>
            </a>
            <a @fadeIn class="btn btn-sm btn-danger action-button  btn-float"
               (click)="showDelete[tableListItem?.id] = true"
               style="border-radius: 50%"
               title="delete" *ngIf="tableConfigurations?.actionIcons?.delete && !showDelete[tableListItem?.id]">
              <i class="fa fa-trash-o"></i>
            </a>
            <a @fadeIn class="btn btn-sm btn-danger action-button  btn-float"
               (click)="showDownload[tableListItem?.id] = true"
               style="border-radius: 50%"
               title="Download" *ngIf="tableConfigurations?.actionIcons?.download && !showDownload[tableListItem?.id]">
              <i class="fa fa-cloud-download"></i>
            </a>
            <button @fadeIn mat-flat-button (click)="showDelete[tableListItem?.id] = true"
                    title="Cancel" *ngIf="tableConfigurations?.actionIcons?.cancel && !showDelete[tableListItem?.id]">
              <mat-icon>cancel</mat-icon>
              Cancel
            </button>

            <!--delete confirmation-->
            <p @fadeIn *ngIf="showDelete[tableListItem?.id] && !tableConfigurations.deleting[tableListItem?.id]">Are You
              sure?</p>
            <p @fadeIn *ngIf="showDelete[tableListItem?.id] && tableConfigurations.deleting[tableListItem?.id]">
              <span *ngIf="tableConfigurations?.actionIcons?.cancel">Canceling</span>
              <span *ngIf="tableConfigurations?.actionIcons?.delete">Deleting</span>
            </p>
            <p @fadeIn *ngIf="showDelete[tableListItem?.id]">
              <mat-progress-bar mode="indeterminate" @fadeIn
                                *ngIf="tableConfigurations.deleting[tableListItem?.id]"></mat-progress-bar>
              <button mat-mini-fab style="color: white; background-color: red; border-radius: 50%!important;" @fadeIn
                      *ngIf="!tableConfigurations.deleting[tableListItem?.id]"
                      (click)="showDelete = {}">
                <mat-icon>clear</mat-icon>
              </button>
              <button mat-mini-fab style="color: white; background-color: green; border-radius: 50%!important;" @fadeIn
                      *ngIf="!tableConfigurations.deleting[tableListItem?.id]"
                      (click)="deleteItem(tableListItem?.id)">
                <mat-icon>done</mat-icon>
              </button>
            </p>
          </div>
        </td>
      </ng-container>

      <!-- Disclaimer column -->
      <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
          <h5 class="text-center text-muted pt-1">
            {{tableConfigurations.empty_msg || "No data"}}
          </h5>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"
          style='background-color: rgba(0, 0, 0, 0.1); opacity: 0.8;'></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="routeAnimationsElements"
          class="card-1"></tr>

      <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
    </table>

  </ng-template>
</div>
