<mat-grid-list cols="3" rowHeight="700px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <mat-card>
      <mat-card-content>
        <div>
          <form>
            <div class="formFieldWidth400">
              <div style="text-align: center"><h2>Invoice Management System</h2></div>
              <br/>
              <div>
                <mat-form-field>
                  <mat-label floatLabel="auto">Username</mat-label>
                  <mat-icon matPrefix>person_outline</mat-icon>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="user.username"
                    name="username"
                    placeholder="Username">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <mat-label floatLabel="auto">Password</mat-label>
                  <mat-icon matPrefix>lock_open</mat-icon>
                  <input
                    matInput
                    type="password"
                    [(ngModel)]="user.password"
                    name="password"
                    placeholder="Password">
                </mat-form-field>
              </div>
            </div>

            <button type="button" mat-raised-button
                    class="btn-block" (click)="login()" color="primary">Login
            </button>

            <div>
            </div>
          </form>

          <div *ngIf="$isLoggingIn|async">
            <br/>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <div *ngIf="$loginSuccess|async">
            <br/>
            <div class="success">
              login successfully
            </div>
            <br/>
          </div>
          <div *ngIf="$loginFailure|async">
            <br/>
            <div class="failure">
              login failed
            </div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
  </mat-grid-tile>
</mat-grid-list>
